body{
    background-color: #E9E9E9;
   
}

.main-container{
    display: flex;
    height: 100%;
    padding: 3;

    
}
.header{
    align-items: center;
    justify-content: start;
    height: 80px;
    display: flex;
}
.menu-image{
    height: 12px;
    width: 18px;
    
}

.logo-image{
    width: 142px;
    height: 30px;
}

.search-icon{
    width: 16px;
    height: 16px;
    margin-left: 77px;
}

.search{
    /* justify-content: center; */
    /* align-items: center; */
}

.search span{
    margin-left: 16px;
}

#search{
    border: none;
}
.notification-icon{
    width: 22px;
    height: 21px;
    margin-left: 800px;
}

.profile{
    width: 44px;
    height: 44px;
    margin-left: 40px;
}

.noti-pro{
    
}

.noti-pro span{
    margin-left: 12px;
    align-items: center;

}

.select{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.navbar{
    display: flex;
    /* height: 100vh; */
    justify-content: start;
}

.bullet{
    
    list-style-type: none;
}

.dashboard{
    display: flex;
    /* align-items: center; */
    gap: 12px;
    color: red;
    background-color: #FFF3F4;
    
}

.dsh-img{
    height: 18px;
    width: 18px;

}

.analysis{
    display: flex;
    /* align-items: center; */
    gap: 12px;
}

.anl-img{
    height: 18px;
    width: 18px;
}

.inbox{
    display: flex;
    /* align-items: center; */
    gap: 12px;
}

.inb-img{
    height: 18px;
    width: 18px;
}

.history{
    display: flex;
    align-items: center;
    gap: 12px;
}

.his-img{
    height: 18px;
    width: 18px;
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
}

.usr-img{
    height: 18px;
    width: 18px;
}

.maintenance{
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-img{
    height: 18px;
    width: 18px;
}

.setting{
    display: flex;
    align-items: center;
    gap: 12px;
}

.set-img{
    height: 18px;
    width: 18px;
}
li{
    margin: 20px 0px;
    padding: 10px;
}

.sub-container{
    display: flex;
    height: 100vh;
    
}
.dash-title{
    margin-left: 40px;
    margin-top: 30px;
}

.dash-container{
    background-color: #FAFAFA;
    width: 100%;
    
    /* margin-left: 70px; */
    /* height: 2000px; */
}

.products{
    /* margin-top: 30px; */
    /* margin-left: 30px; */
    /* width: 219px; */
    /* height: 116px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 35px;
    height: 35px;
}

.pro-text{
    display: flex;
    flex-direction: column;
    /* margin-left: 19px; */
}

.product-container{
    display: flex;
    gap: 30px;
    /* margin-left: 30px; */
}

.sale{
    /* margin-top: 30px; */
    /* margin-left: 30px; */
    /* width: 802px; */
   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
}

.sale-text{
    /* margin-top: 5px;
    margin-right: 20px; */
    font-size:smaller;
    display: flex;
    justify-content:end;
    align-content: center;
    justify-content: space-between;
}

.s-text{
    /* margin-top: 23px; */
    display: flex;
}
.year{
    color: red;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* .data-img{
    margin-bottom: 25px;
        } */

.pie-chart{
    /* margin-top: 30px; */
    /* margin-left: 30px; */

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}


.pie-img{
    /* margin-top: 15px; */

}

.radio{
    height: 35px;
    width: 35px;
}

#india{
    /* margin-left: 106px; */
}

.invoices{
    /* margin-top: 30px;
    margin-left: 30px; */
    /* width: 1217px;
    height: 558px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}



#paid{
    /* background-color: #EBFFEF;
    color: #3CDD5F; */
    
}



.paided{
    /* padding: 5px;  */
    width: 50px;
    border-radius: 5px;
    background-color: #EBFFEF;
    color: #3CDD5F;
}

.fail{
    width: 50px;
    border-radius: 5px;
    color: #FF4545;
    background-color: #FFF5F5;
}

.panding{
    width: 50px;
    border-radius: 5px;
    color: #BABABA;
    background-color: #F8F8F8;
}

.link{
    text-decoration: none;
    color: #3E3E3E;
}

.link1{
    text-decoration: none;
    color: #C8242F;
}
